#coming-soon {
    color: midnight;
    font-size: 2.5rem;
    background-color: #E5E4E2;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

body {
    background-color: #E5E4E2;
}