
.App-header {
  background-color: #E5E4E2;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: cursive;
  
}

link {
  color: black;
}

.route-link {
  color: orange;
}

